.topping_img{
    background-image: url("pictures/pattern.jpeg");
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: center;

}

.header {
    text-align: center;
    color: khaki;
    font-size: 100px;
    font-family: helvetica;
    font-weight: bold;

}

.brushes {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;

}

.frames {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.price {
    color:blue;
    font-weight: bold;
    font-family: helvetica;
}

.hacksaw_par {

    font-family: helvetica;

}