.topping_img{
    background-image: url("pictures/pattern.jpeg");
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: center;

}

.header {
    text-align: center;
    color: khaki;
    font-size: 100px;
    font-family: helvetica;
    font-weight: bold;

}